/* You can add global styles to this file, and also import other style files */

header{
    background-color: darkslateblue;
    color: white;
}



.spinner_container {
  margin: 45%; 
}

.on_right {
    position: absolute; 
    right: 0;
}

.col_centered {
    margin: 0 auto;
}

.red_border {
    border-color: red;
}



