<div class="container p-3">
  <div class="row">
    <p>This section allows you to search to the users in the mentoring planner.</p>
    <br>
    <p-table [value]="users" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr class="row">
          <th class="col-md-1">Id</th>
          <th class="col-md-3">FirstName</th>
          <th class="col-md-3">LastName</th>
          <th class="col-md-2">Roles</th>
          <th class="col-md-3">Contact</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="row">
          <td class="col-md-1">{{user.id}}</td>
          <td class="col-md-3">{{user.firstName}}</td>
          <td class="col-md-3">{{user.lastName}}</td>
          <td class="col-md-2">{{user.admin ? 'ADMIN': '' }} {{user.mentor? 'MENTOR' : ''}}</td>
          <td class="col-md-3">{{user.email}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
