<div class="container">
  <div class="row mt-4">

    <p>Welcome to mentoring plannet - a place in the known universe where smarter plannet is build.</p>
    <p>By contributting to BlueMentors you are helping our planner to make a quatum leap to a smarter place on the our
      galaxy.</p>


    <p-accordion [multiple]="true" class="mt-4">
      <p-accordionTab header="Profile" [selected]="true" class="mt-4">
        <div *ngIf="!user.mentor">
          <p>I will be great if you ask register as a mentor on the thenologies offered to our users.</p>
          <p>As a mentor you will have the oportunity to promote tehnology, gain experince in mentoring and build a
            mentoring carrear.
          </p>
          <app-mentor-registration (mentorEvent)="updateLocalMentor($event)"></app-mentor-registration>
          <p>Our mentors ratings are shared also with our parteners and they might select you for thier internal
            trainings neccesities.</p>
        </div>


        <div *ngIf="user.mentor">
          Thanks for registering as a mentor.

          <div *ngIf="user.mentor" class="mt-3">your mentoring skills

            <div>
              <app-mentor-registration [selectedSkills]="skills"
                                       (mentorEvent)="updateLocalMentor($event)"></app-mentor-registration>
              <div class="mt-3">
                <p>Your current skill set:</p>
                <ul>
                  <li *ngFor="let skill of skills">
                    {{skill.name}}
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <div class="mt-3">
            <p>Your current ratings:</p>
            <p-rating [(ngModel)]="rating" readonly="true" [cancel]="false"></p-rating>
          </div>
        </div>
      </p-accordionTab>

      <p-accordionTab header="Calendar">
        <app-mentor-calendar
          [componentMode]="'mentor-mode'"
          [calendar]="calendar"
          (calendarEvents)="updateMenringCalendar($event)">
        </app-mentor-calendar>
      </p-accordionTab>

      <p-accordionTab header="History">
        <div>
          Mentoring History:
        </div>
      </p-accordionTab>
    </p-accordion>

  </div>
</div>



