<div class="container p-3">
  <div class="row">
    <div class="col-md-10 col-md-offset-">
      <button class="btn btn-primary" (click)="editSkill()"> Add New Skill</button>
    </div>
  </div>
</div>


<app-edit-skill *ngIf="editedSkill"
                [(skill)]="editedSkill"
                (saveSkillEvent)="saveSkill($event)">
</app-edit-skill>


<!--TODO: set app-skill-list disabled base of the user roles-->

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <p>Avalabale skills are maintained by BlueMentors administrators. For any clarification BlueMentors admins can be
        be contacted via email: admin@bluementors.com</p>
      <br>
      <app-skill-list
        componentMode='edit'
        [(skills)]="skills"
        disabled=false
        (selectedSkill)="editSkill($event)"
        (skillActivation)="activateSkill($event)">
      </app-skill-list>
    </div>
  </div>
</div>
